# 1. Importación de librerías

In [1]:
import pandas as pd

# 2. 'category.csv'

 ## 2.1. Importación del archivo y creación del dataframe

In [2]:
category = pd.read_csv('../../../3.5-mysql/data/category.csv', encoding = 'latin1')
display(category)

    category_id         name          last_update
0             1       Action  2006-02-15 04:46:27
1             2    Animation  2006-02-15 04:46:27
2             3     Children  2006-02-15 04:46:27
3             4     Classics  2006-02-15 04:46:27
4             5       Comedy  2006-02-15 04:46:27
5             6  Documentary  2006-02-15 04:46:27
6             7        Drama  2006-02-15 04:46:27
7             8       Family  2006-02-15 04:46:27
8             9      Foreign  2006-02-15 04:46:27
9            10        Games  2006-02-15 04:46:27
10           11       Horror  2006-02-15 04:46:27
11           12        Music  2006-02-15 04:46:27
12           13          New  2006-02-15 04:46:27
13           14       Sci-Fi  2006-02-15 04:46:27
14           15       Sports  2006-02-15 04:46:27
15           16       Travel  2006-02-15 04:46:27

## 2.2. Elementos totales del data frame (número de filas multiplicado por el número de columnas)

In [3]:
category.size

48

## 2.3. Número de filas y número de columnas

In [4]:
category.shape

(16, 3)

## 2.4. Información general del data frame

In [5]:
category.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   category_id  16 non-null     int64
 1   name         16 non-null     object
 2   last_update  16 non-null     object
dtypes: int64(1), object(2)
memory usage: 516.0+ bytes

## 2.5. Estadísticas

In [6]:
category.describe().T

             count  mean       std  min   25%  50%    75%   max
category_id   16.0   8.5  4.760952  1.0  4.75  8.5  12.25  16.0

## 2.6. Limpieza columna 'category_id'

In [7]:
category['category_id'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

## 2.7. Limpieza columna 'name'

In [8]:
category['name'].unique()

array(['Action', 'Animation', 'Children', 'Classics', 'Comedy',
       'Documentary', 'Drama', 'Family', 'Foreign', 'Games', 'Horror',
       'Music', 'New', 'Sci-Fi', 'Sports', 'Travel'], dtype=object)

## 2.8. Limpieza columna 'last_update'

In [9]:
category['last_update'].unique()

array(['2006-02-15 04:46:27'], dtype=object)

In [10]:
# Cambio del tipo de dato de object a date time

category['last_update'] = pd.to_datetime(category['last_update'])

category.dtypes

category_id             int64
name                   object
last_update    datetime64[ns]
dtype: object

## 2.9. Exportación de los datos

In [13]:
category.to_csv('category_limpio.csv', index = False)