# 1. Importación de librerías

In [1]:
import pandas as pd
%run ../../notebooks/funciones.ipynb

# 2. 'film.csv'

 ## 2.1. Importación del archivo y creación del dataframe

In [2]:
film = pd.read_csv('../../../3.5-mysql/data/film.csv', encoding = 'latin1')
display(film)

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,NaN,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,NaN,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,NaN,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,NaN,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,YOUNG LANGUAGE,A Unbelieveable Yarn of a Boat And a Database ...,2006,1,NaN,6,0.99,183,9.99,G,"Trailers,Behind the Scenes",2006-02-15 05:03:42
996,997,YOUTH KICK,A Touching Drama of a Teacher And a Cat who mu...,2006,1,NaN,4,0.99,179,14.99,NC-17,"Trailers,Behind the Scenes",2006-02-15 05:03:42
997,998,ZHIVAGO CORE,A Fateful Yarn of a Composer And a Man who mus...,2006,1,NaN,6,0.99,105,10.99,NC-17,Deleted Scenes,2006-02-15 05:03:42
998,999,ZOOLANDER FICTION,A Fateful Reflection of a Waitress And a Boat ...,2006,1,NaN,5,2.99,101,28.99,R,"Trailers,Deleted Scenes",2006-02-15 05:03:42
999,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,NaN,3,4.99,50,18.99,NC-17,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42

## 2.2. Elementos totales del data frame (número de filas multiplicado por el número de columnas)

In [3]:
film.size

13000

## 2.3. Número de filas y número de columnas

In [4]:
film.shape

(1000, 13)

## 2.4. Información general del data frame

In [5]:
film.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   film_id               1000 non-null   int64
 1   title                 1000 non-null   object
 2   description           1000 non-null   object
 3   release_year          1000 non-null   int64
 4   language_id           1000 non-null   int64
 5   original_language_id  0 non-null      float64
 6   rental_duration       1000 non-null   int64
 7   rental_rate           1000 non-null   float64
 8   length                1000 non-null   int64
 9   replacement_cost      1000 non-null   float64
 10  rating                1000 non-null   object
 11  special_features      1000 non-null   object
 12  last_update           1000 non-null   object
dtypes: float64(3), int64(5), object(5)
memory usage: 101.7+ KB

## 2.5. Estadísticas

In [6]:
film.describe().T

,count,mean,std,min,25%,50%,75%,max
film_id,1000.0,500.500,288.819436,1.00,250.75,500.50,750.25,1000.00
release_year,1000.0,2006.000,0.000000,2006.00,2006.00,2006.00,2006.00,2006.00
language_id,1000.0,1.000,0.000000,1.00,1.00,1.00,1.00,1.00
original_language_id,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rental_duration,1000.0,4.985,1.411654,3.00,4.00,5.00,6.00,7.00
rental_rate,1000.0,2.980,1.646393,0.99,0.99,2.99,4.99,4.99
length,1000.0,115.272,40.426332,46.00,80.00,114.00,149.25,185.00
replacement_cost,1000.0,19.984,6.050833,9.99,14.99,19.99,24.99,29.99

## 2.6. Limpieza columna 'film_id'

In [7]:
film['film_id'].unique()[:10]

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

## 2.7. Limpieza columna 'title'

In [8]:
film['title'].unique()[:10]

array(['ACADEMY DINOSAUR', 'ACE GOLDFINGER', 'ADAPTATION HOLES',
       'AFFAIR PREJUDICE', 'AFRICAN EGG', 'AGENT TRUMAN',
       'AIRPLANE SIERRA', 'AIRPORT POLLOCK', 'ALABAMA DEVIL',
       'ALADDIN CALENDAR'], dtype=object)

In [9]:
# Sólo primera letra mayúscula

film['title'] = film['title'].apply(correct_mayusc)
film['title']

0       Academy Dinosaur
1         Ace Goldfinger
2       Adaptation Holes
3       Affair Prejudice
4            African Egg
             ...
995       Young Language
996           Youth Kick
997         Zhivago Core
998    Zoolander Fiction
999            Zorro Ark
Name: title, Length: 1000, dtype: object

## 2.8. Limpieza columna 'description'

In [10]:
film['description'].unique()[:10]

array(['A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies',
       'A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China',
       'A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory',
       'A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank',
       'A Fast-Paced Documentary of a Pastry Chef And a Dentist who must Pursue a Forensic Psychologist in The Gulf of Mexico',
       'A Intrepid Panorama of a Robot And a Boy who must Escape a Sumo Wrestler in Ancient China',
       'A Touching Saga of a Hunter And a Butler who must Discover a Butler in A Jet Boat',
       'A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India',
       'A Thoughtful Panorama of a Database Administrator And a Mad Scientist who must Outgun a Mad Scientist in A Jet Boat',
       'A Action-Packed Tale of a Man And a Lumberjack who must Reach a Feminist in Ancient China'],
      dtype=object)

In [11]:
# Sólo la primera letra de la primera palabra el mayúscula 

film['description'] = film['description'].str.capitalize()
film['description']

0      A epic drama of a feminist and a mad scientist...
1      A astounding epistle of a database administrat...
2      A astounding reflection of a lumberjack and a ...
3      A fanciful documentary of a frisbee and a lumb...
4      A fast-paced documentary of a pastry chef and ...
                             ...
995    A unbelieveable yarn of a boat and a database ...
996    A touching drama of a teacher and a cat who mu...
997    A fateful yarn of a composer and a man who mus...
998    A fateful reflection of a waitress and a boat ...
999    A intrepid panorama of a mad scientist and a b...
Name: description, Length: 1000, dtype: object

## 2.9. Limpieza columna 'release_year'

In [12]:
film['release_year'].unique()

array([2006])

## 2.10. Limpieza columna 'language_id'

In [13]:
film['language_id'].unique()

array([1])

## 2.11. Limpieza columna 'original_language_id'

In [14]:
film['original_language_id'].unique()

array([nan])

In [15]:
# Eliminación de la columna 

del film['original_language_id']

## 2.12. Limpieza columna 'rental_duration'

In [16]:
film['rental_duration'].unique()

array([6, 3, 7, 5, 4])

## 2.13. Limpieza columna 'rental_rate'

In [17]:
film['rental_rate'].unique()

array([0.99, 4.99, 2.99])

## 2.14. Limpieza columna 'length'

In [18]:
film['length'].unique()

array([ 86,  48,  50, 117, 130, 169,  62,  54, 114,  63, 126, 136, 150,
        94,  46, 180,  82,  57, 113,  79, 129,  85,  92, 181,  74, 179,
        91, 168, 119, 153, 147, 127, 121,  68,  99, 148, 137, 170,  83,
       108, 118, 162, 182,  75, 173,  87,  65,  90, 122, 160,  89, 175,
       106,  73, 151, 100,  53,  77, 142,  93, 163, 103,  61,  71, 102,
        76,  98,  72, 176, 123,  56, 161,  60, 133, 125,  67,  52, 120,
       167,  70, 135, 112, 183, 110, 152,  51, 146,  66, 185, 124, 107,
       101, 132, 143, 165,  81, 164,  58,  95, 139,  55, 149, 109,  59,
       172, 115, 184, 166,  64, 104,  69,  84, 144,  88, 141,  47,  49,
       177, 154, 159, 178,  96, 116, 171, 140, 155, 158, 174, 138,  97,
       131, 156,  80, 145, 111, 128, 157,  78, 105, 134])

## 2.15. Limpieza columna 'replacement_cost'

In [19]:
film['replacement_cost'].unique()

array([20.99, 12.99, 18.99, 26.99, 22.99, 17.99, 28.99, 15.99, 21.99,
       24.99, 16.99, 23.99, 10.99, 14.99, 27.99,  9.99, 19.99, 11.99,
       29.99, 25.99, 13.99])

## 2.16 Limpieza columna 'rating'

In [20]:
film['rating'].unique()

array(['PG', 'G', 'NC-17', 'PG-13', 'R'], dtype=object)

## 2.17. Limpieza 'special_features'

In [21]:
film['special_features'].unique()

array(['Deleted Scenes,Behind the Scenes', 'Trailers,Deleted Scenes',
       'Commentaries,Behind the Scenes', 'Deleted Scenes', 'Trailers',
       'Commentaries,Deleted Scenes',
       'Trailers,Deleted Scenes,Behind the Scenes',
       'Trailers,Commentaries,Behind the Scenes', 'Trailers,Commentaries',
       'Trailers,Behind the Scenes',
       'Commentaries,Deleted Scenes,Behind the Scenes',
       'Trailers,Commentaries,Deleted Scenes',
       'Trailers,Commentaries,Deleted Scenes,Behind the Scenes',
       'Behind the Scenes', 'Commentaries'], dtype=object)

In [22]:
# Conversión a varias cadenas de string

film['special_features'] = film['special_features'].str.split(',')
film['special_features']

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,Academy Dinosaur,A epic drama of a feminist and a mad scientist...,2006,1,6,0.99,86,20.99,PG,"[Deleted Scenes, Behind the Scenes]",2006-02-15 05:03:42
1,2,Ace Goldfinger,A astounding epistle of a database administrat...,2006,1,3,4.99,48,12.99,G,"[Trailers, Deleted Scenes]",2006-02-15 05:03:42
2,3,Adaptation Holes,A astounding reflection of a lumberjack and a ...,2006,1,7,2.99,50,18.99,NC-17,"[Trailers, Deleted Scenes]",2006-02-15 05:03:42
3,4,Affair Prejudice,A fanciful documentary of a frisbee and a lumb...,2006,1,5,2.99,117,26.99,G,"[Commentaries, Behind the Scenes]",2006-02-15 05:03:42
4,5,African Egg,A fast-paced documentary of a pastry chef and ...,2006,1,6,2.99,130,22.99,G,[Deleted Scenes],2006-02-15 05:03:42
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Young Language,A unbelieveable yarn of a boat and a database ...,2006,1,6,0.99,183,9.99,G,"[Trailers, Behind the Scenes]",2006-02-15 05:03:42
996,997,Youth Kick,A touching drama of a teacher and a cat who mu...,2006,1,4,0.99,179,14.99,NC-17,"[Trailers, Behind the Scenes]",2006-02-15 05:03:42
997,998,Zhivago Core,A fateful yarn of a composer and a man who mus...,2006,1,6,0.99,105,10.99,NC-17,[Deleted Scenes],2006-02-15 05:03:42
998,999,Zoolander Fiction,A fateful reflection of a waitress and a boat ...,2006,1,5,2.99,101,28.99,R,"[Trailers, Deleted Scenes]",2006-02-15 05:03:42
999,1000,Zorro Ark,A intrepid panorama of a mad scientist and a b...,2006,1,3,4.99,50,18.99,NC-17,"[Trailers, Commentaries, Behind the Scenes]",2006-02-15 05:03:42

In [23]:
# Separación de valores por columnas 

film['deleted_scenes'] = 0
film['behind_the_scenes'] = 0
film['trailers'] = 0
film['commentaries'] = 0


check_words = ['Deleted Scenes', 'Behind the Scenes', 'Trailers', 'Commentaries']


for e in film['deleted_scenes']:
    if e in check_words:
        film['deleted_scenes'] = 'Yes'
    else:
        film['deleted_scenes'] = 'No'
    
    
for e in film['behind_the_scenes']:
    if e in check_words:
        film['behind_the_scenes'] = 'Yes'
    else:
        film['behind_the_scenes'] = 'No'

        
for e in film['trailers']:
    if e in check_words:
        film['trailers'] = 'Yes'
    else:
        film['trailers'] = 'No'

for e in film['commentaries']:
    if e in check_words:
        film['commentaries'] = 'Yes'
    else:
        film['commentaries'] = 'No'
        
film

,film_id,title,description,release_year,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update,deleted_scenes,behind_the_scenes,trailers,commentaries
0,1,Academy Dinosaur,A epic drama of a feminist and a mad scientist...,2006,1,6,0.99,86,20.99,PG,"[Deleted Scenes, Behind the Scenes]",2006-02-15 05:03:42,No,No,No,No
1,2,Ace Goldfinger,A astounding epistle of a database administrat...,2006,1,3,4.99,48,12.99,G,"[Trailers, Deleted Scenes]",2006-02-15 05:03:42,No,No,No,No
2,3,Adaptation Holes,A astounding reflection of a lumberjack and a ...,2006,1,7,2.99,50,18.99,NC-17,"[Trailers, Deleted Scenes]",2006-02-15 05:03:42,No,No,No,No
3,4,Affair Prejudice,A fanciful documentary of a frisbee and a lumb...,2006,1,5,2.99,117,26.99,G,"[Commentaries, Behind the Scenes]",2006-02-15 05:03:42,No,No,No,No
4,5,African Egg,A fast-paced documentary of a pastry chef and ...,2006,1,6,2.99,130,22.99,G,[Deleted Scenes],2006-02-15 05:03:42,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Young Language,A unbelieveable yarn of a boat and a database ...,2006,1,6,0.99,183,9.99,G,"[Trailers, Behind the Scenes]",2006-02-15 05:03:42,No,No,No,No
996,997,Youth Kick,A touching drama of a teacher and a cat who mu...,2006,1,4,0.99,179,14.99,NC-17,"[Trailers, Behind the Scenes]",2006-02-15 05:03:42,No,No,No,No
997,998,Zhivago Core,A fateful yarn of a composer and a man who mus...,2006,1,6,0.99,105,10.99,NC-17,[Deleted Scenes],2006-02-15 05:03:42,No,No,No,No
998,999,Zoolander Fiction,A fateful reflection of a waitress and a boat ...,2006,1,5,2.99,101,28.99,R,"[Trailers, Deleted Scenes]",2006-02-15 05:03:42,No,No,No,No
999,1000,Zorro Ark,A intrepid panorama of a mad scientist and a b...,2006,1,3,4.99,50,18.99,NC-17,"[Trailers, Commentaries, Behind the Scenes]",2006-02-15 05:03:42,No,No,No,No

## 2.18. Limpieza columna 'last_update'

In [25]:
film['last_update'].unique()

array(['2006-02-15 05:03:42'], dtype=object)

In [27]:
# Cambio del tipo de dato de object a date time

film['last_update'] = pd.to_datetime(film['last_update'])

film.dtypes

film_id                       int64
title                        object
description                  object
release_year                  int64
language_id                   int64
rental_duration               int64
rental_rate                 float64
length                        int64
replacement_cost            float64
rating                       object
special_features             object
last_update          datetime64[ns]
deleted_scenes               object
behind_the_scenes            object
trailers                     object
commentaries                 object
dtype: object

## 2.19. Exportación de los datos

In [24]:
film.to_csv('film_limpio.csv', index = False)