# 1. Importación de librerías

In [13]:
import pandas as pd

# 2. 'inventory.csv'

 ## 2.1. Importación del archivo y creación del dataframe

In [2]:
inventory = pd.read_csv('../../../3.5-mysql/data/inventory.csv', encoding = 'latin1')
display(inventory)

     inventory_id  film_id  store_id          last_update
0               1        1         1  2006-02-15 05:09:17
1               2        1         1  2006-02-15 05:09:17
2               3        1         1  2006-02-15 05:09:17
3               4        1         1  2006-02-15 05:09:17
4               5        1         2  2006-02-15 05:09:17
..            ...      ...       ...                  ...
995           996      222         2  2006-02-15 05:09:17
996           997      222         2  2006-02-15 05:09:17
997           998      222         2  2006-02-15 05:09:17
998           999      223         2  2006-02-15 05:09:17
999          1000      223         2  2006-02-15 05:09:17

[1000 rows x 4 columns]

## 2.2. Elementos totales del data frame (número de filas multiplicado por el número de columnas)

In [3]:
inventory.size

4000

## 2.3. Número de filas y número de columnas

In [4]:
inventory.shape

(1000, 4)

## 2.4. Información general del data frame

In [5]:
inventory.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   inventory_id  1000 non-null   int64
 1   film_id       1000 non-null   int64
 2   store_id      1000 non-null   int64
 3   last_update   1000 non-null   object
dtypes: int64(3), object(1)
memory usage: 31.4+ KB

## 2.5. Estadísticas

In [6]:
inventory.describe().T

               count     mean         std  min     25%    50%     75%     max
inventory_id  1000.0  500.500  288.819436  1.0  250.75  500.5  750.25  1000.0
film_id       1000.0  109.866   63.862042  1.0   56.00  111.5  164.00   223.0
store_id      1000.0    1.497    0.500241  1.0    1.00    1.0    2.00     2.0

## 2.6. Limpieza columna 'inventory_id'

In [7]:
inventory['inventory_id'].unique()[:10]

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

## 2.7. Limpieza columna 'film_id'

In [8]:
inventory['film_id'].unique()[:10]

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

## 2.8. Limpieza columna 'store_id'

In [9]:
inventory['store_id'].unique()[:10]

array([1, 2])

## 2.9. Limpieza columna 'last_update'

In [10]:
inventory['last_update'].unique()

array(['2006-02-15 05:09:17'], dtype=object)

In [11]:
# Cambio del tipo de dato de object a date time

inventory['last_update'] = pd.to_datetime(inventory['last_update'])

inventory.dtypes

inventory_id             int64
film_id                  int64
store_id                 int64
last_update     datetime64[ns]
dtype: object

## 2.10. Exportación de los datos

In [12]:
inventory.to_csv('inventory_limpio.csv', index = False)