# 1. Importación de librerías

In [1]:
import pandas as pd
%run ../../notebooks/funciones.ipynb

# 2. 'old_HDD.csv'

 ## 2.1. Importación del archivo y creación del dataframe

In [2]:
old = pd.read_csv('../../../3.5-mysql/data/old_HDD.csv', encoding = 'latin1')
display(old)

    first_name last_name                  title  release_year  category_id
0     PENELOPE   GUINESS       ACADEMY DINOSAUR          2006            6
1     PENELOPE   GUINESS   ANACONDA CONFESSIONS          2006            2
2     PENELOPE   GUINESS            ANGELS LIFE          2006           13
3     PENELOPE   GUINESS  BULWORTH COMMANDMENTS          2006           10
4     PENELOPE   GUINESS          CHEAPER CLYDE          2006           14
..         ...       ...                    ...           ...          ...
995     GOLDIE     BRODY      COMANCHEROS ENEMY          2006            3
996     GOLDIE     BRODY        DAISY MENAGERIE          2006           14
997     GOLDIE     BRODY        DESERT POSEIDON          2006           11
998     GOLDIE     BRODY         EVERYONE CRAFT          2006            9
999     GOLDIE     BRODY         EXORCIST STING          2006           15

[1000 rows x 5 columns]

## 2.2. Elementos totales del data frame (número de filas multiplicado por el número de columnas)

In [3]:
old.size

5000

## 2.3. Número de filas y número de columnas

In [4]:
old.shape

(1000, 5)

## 2.4. Información general del data frame

In [5]:
old.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   first_name    1000 non-null   object
 1   last_name     1000 non-null   object
 2   title         1000 non-null   object
 3   release_year  1000 non-null   int64
 4   category_id   1000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 39.2+ KB

## 2.5. Estadísticas

In [6]:
old.describe().T

,count,mean,std,min,25%,50%,75%,max
release_year,1000.0,2006.000,0.000000,2006.0,2006.0,2006.0,2006.0,2006.0
category_id,1000.0,8.355,4.726872,1.0,4.0,8.0,13.0,16.0

## 2.6. Limpieza columna 'first_name'

In [7]:
old['first_name'].unique()[:10]

array(['PENELOPE', 'NICK', 'ED', 'JENNIFER', 'JOHNNY', 'BETTE', 'GRACE',
       'MATTHEW', 'JOE', 'CHRISTIAN'], dtype=object)

In [8]:
# Sólo primera letra mayúscula

old['first_name'] = old['first_name'].apply(correct_mayusc)
old['first_name']

0      Penelope
1      Penelope
2      Penelope
3      Penelope
4      Penelope
         ...
995      Goldie
996      Goldie
997      Goldie
998      Goldie
999      Goldie
Name: first_name, Length: 1000, dtype: object

## 2.7. Limpieza columna 'last_name'

In [9]:
old['last_name'].unique()[:10]

array(['GUINESS', 'WAHLBERG', 'CHASE', 'DAVIS', 'LOLLOBRIGIDA',
       'NICHOLSON', 'MOSTEL', 'JOHANSSON', 'SWANK', 'GABLE'], dtype=object)

In [10]:
# Sólo primera letra mayúscula

old['last_name'] = old['last_name'].apply(correct_mayusc)
old['last_name']

0      Guiness
1      Guiness
2      Guiness
3      Guiness
4      Guiness
        ...
995      Brody
996      Brody
997      Brody
998      Brody
999      Brody
Name: last_name, Length: 1000, dtype: object

## 2.8. Limpieza columna 'title'

In [11]:
old['title'].unique()[:10]

array(['ACADEMY DINOSAUR', 'ANACONDA CONFESSIONS', 'ANGELS LIFE',
       'BULWORTH COMMANDMENTS', 'CHEAPER CLYDE', 'COLOR PHILADELPHIA',
       'ELEPHANT TROJAN', 'GLEAMING JAWBREAKER', 'HUMAN GRAFFITI',
       'KING EVOLUTION'], dtype=object)

In [12]:
# Sólo la primera letra de la primera palabra el mayúscula 

old['title'] = old['title'].str.capitalize()
old['title']

0           Academy dinosaur
1       Anaconda confessions
2                Angels life
3      Bulworth commandments
4              Cheaper clyde
               ...
995        Comancheros enemy
996          Daisy menagerie
997          Desert poseidon
998           Everyone craft
999           Exorcist sting
Name: title, Length: 1000, dtype: object

## 2.9 Limpieza columna 'release_year'

In [13]:
old['release_year'].unique()

array([2006])

## 2.10. Limpieza columna 'category_id'

In [14]:
old['category_id'].unique()

array([ 6,  2, 13, 10, 14,  4, 11, 15,  8,  3,  9,  5, 12,  1, 16,  7])

## 2.9. Exportación de los datos

In [15]:
old.to_csv('old_limpio.csv', index = False)