# 1. Importación de librerías

In [1]:
import pandas as pd
%run ../../notebooks/funciones.ipynb

# 2. 'old_HDD.csv'

 ## 2.1. Importación del archivo y creación del dataframe

In [2]:
old = pd.read_csv('../../../3.5-mysql/data/old_HDD.csv', encoding = 'latin1')
display(old)

    first_name last_name                  title  release_year  category_id
0     PENELOPE   GUINESS       ACADEMY DINOSAUR          2006            6
1     PENELOPE   GUINESS   ANACONDA CONFESSIONS          2006            2
2     PENELOPE   GUINESS            ANGELS LIFE          2006           13
3     PENELOPE   GUINESS  BULWORTH COMMANDMENTS          2006           10
4     PENELOPE   GUINESS          CHEAPER CLYDE          2006           14
..         ...       ...                    ...           ...          ...
995     GOLDIE     BRODY      COMANCHEROS ENEMY          2006            3
996     GOLDIE     BRODY        DAISY MENAGERIE          2006           14
997     GOLDIE     BRODY        DESERT POSEIDON          2006           11
998     GOLDIE     BRODY         EVERYONE CRAFT          2006            9
999     GOLDIE     BRODY         EXORCIST STING          2006           15

[1000 rows x 5 columns]

## 2.2. Elementos totales del data frame (número de filas multiplicado por el número de columnas)

In [3]:
language.size

18

## 2.3. Número de filas y número de columnas

In [4]:
language.shape

(6, 3)

## 2.4. Información general del data frame

In [5]:
language.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   language_id  6 non-null      int64
 1   name         6 non-null      object
 2   last_update  6 non-null      object
dtypes: int64(1), object(2)
memory usage: 276.0+ bytes

## 2.5. Estadísticas

In [6]:
language.describe().T

             count  mean       std  min   25%  50%   75%  max
language_id    6.0   3.5  1.870829  1.0  2.25  3.5  4.75  6.0

## 2.6. Limpieza columna 'language_id'

In [7]:
language['language_id'].unique()[:10]

array([1, 2, 3, 4, 5, 6])

## 2.7. Limpieza columna 'name'

In [8]:
language['name'].unique()[:10]

array(['English', 'Italian', 'Japanese', 'Mandarin', 'French', 'German'],
      dtype=object)

## 2.8. Limpieza columna 'last_update'

In [9]:
language['last_update'].unique()

array(['2006-02-15 05:02:19'], dtype=object)

In [10]:
# Cambio del tipo de dato de object a date time

language['last_update'] = pd.to_datetime(language['last_update'])

language.dtypes

language_id             int64
name                   object
last_update    datetime64[ns]
dtype: object

## 2.9. Exportación de los datos

In [11]:
language.to_csv('language_limpio.csv', index = False)