# 1. Importación de librerías

In [1]:
import pandas as pd
%run ../../notebooks/funciones.ipynb

# 2. 'rental.csv'

 ## 2.1. Importación del archivo y creación del dataframe

In [2]:
rental = pd.read_csv('../../../3.5-mysql/data/rental.csv', encoding = 'latin1')
display(rental)

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53
...,...,...,...,...,...,...,...
995,997,2005-05-31 00:08:25,4243,216,2005-06-02 00:17:25,2,2006-02-15 21:30:53
996,998,2005-05-31 00:16:57,3395,389,2005-06-01 22:41:57,1,2006-02-15 21:30:53
997,999,2005-05-31 00:25:10,4433,413,2005-06-03 06:05:10,2,2006-02-15 21:30:53
998,1000,2005-05-31 00:25:56,1774,332,2005-06-08 19:42:56,2,2006-02-15 21:30:53
999,1001,2005-05-31 00:46:31,1498,64,2005-06-06 06:14:31,2,2006-02-15 21:30:53

## 2.2. Elementos totales del data frame (número de filas multiplicado por el número de columnas)

In [3]:
rental.size

7000

## 2.3. Número de filas y número de columnas

In [4]:
rental.shape

(1000, 7)

## 2.4. Información general del data frame

In [5]:
rental.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rental_id     1000 non-null   int64
 1   rental_date   1000 non-null   object
 2   inventory_id  1000 non-null   int64
 3   customer_id   1000 non-null   int64
 4   return_date   1000 non-null   object
 5   staff_id      1000 non-null   int64
 6   last_update   1000 non-null   object
dtypes: int64(4), object(3)
memory usage: 54.8+ KB

## 2.5. Estadísticas

In [6]:
rental.describe().T

,count,mean,std,min,25%,50%,75%,max
rental_id,1000.0,501.180,289.196650,1.0,250.75,501.5,751.25,1001.0
inventory_id,1000.0,2258.179,1314.667454,2.0,1157.50,2244.5,3371.75,4581.0
customer_id,1000.0,296.408,172.509319,1.0,150.00,296.0,445.25,597.0
staff_id,1000.0,1.521,0.499809,1.0,1.00,2.0,2.00,2.0

## 2.6. Limpieza columna 'rental_id'

In [7]:
rental['rental_id'].unique()[:10]

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

## 2.7. Limpieza columna 'rental_date'

In [8]:
rental['rental_date'].unique()[:10]

array(['2005-05-24 22:53:30', '2005-05-24 22:54:33',
       '2005-05-24 23:03:39', '2005-05-24 23:04:41',
       '2005-05-24 23:05:21', '2005-05-24 23:08:07',
       '2005-05-24 23:11:53', '2005-05-24 23:31:46',
       '2005-05-25 00:00:40', '2005-05-25 00:02:21'], dtype=object)

In [9]:
# Cambio del tipo de dato de object a date time

rental['rental_date'] = pd.to_datetime(rental['rental_date'])

rental.dtypes

rental_id                int64
rental_date     datetime64[ns]
inventory_id             int64
customer_id              int64
return_date             object
staff_id                 int64
last_update             object
dtype: object

## 2.8. Limpieza columna 'inventory_id'

In [10]:
rental['inventory_id'].unique()[:10]

array([ 367, 1525, 1711, 2452, 2079, 2792, 3995, 2346, 2580, 1824])

## 2.9 Limpieza columna 'customer_id'

In [11]:
rental['customer_id'].unique()[:10]

array([130, 459, 408, 333, 222, 549, 269, 239, 126, 399])

## 2.10. Limpieza columna 'return_date'

In [12]:
rental['return_date'].unique()[:10]

array(['2005-05-26 22:04:30', '2005-05-28 19:40:33',
       '2005-06-01 22:12:39', '2005-06-03 01:43:41',
       '2005-06-02 04:33:21', '2005-05-27 01:32:07',
       '2005-05-29 20:34:53', '2005-05-27 23:33:46',
       '2005-05-28 00:22:40', '2005-05-31 22:44:21'], dtype=object)

In [13]:
# Cambio del tipo de dato de object a date time

rental['return_date'] = pd.to_datetime(rental['rental_date'])

rental.dtypes

rental_id                int64
rental_date     datetime64[ns]
inventory_id             int64
customer_id              int64
return_date     datetime64[ns]
staff_id                 int64
last_update             object
dtype: object

## 2.11. Limpieza columna 'staff_id'

In [14]:
rental['staff_id'].unique()

array([1, 2])

## 2.12. Limpieza columna 'last_update'

In [15]:
rental['last_update'].unique()

array(['2006-02-15 21:30:53'], dtype=object)

In [16]:
# Cambio del tipo de dato de object a date time

rental['last_update'] = pd.to_datetime(rental['last_update'])

rental.dtypes

rental_id                int64
rental_date     datetime64[ns]
inventory_id             int64
customer_id              int64
return_date     datetime64[ns]
staff_id                 int64
last_update     datetime64[ns]
dtype: object

## 2.1. Exportación de los datos

In [17]:
rental.to_csv('rental_limpio.csv', index = False)